Get the dataset

In [33]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('data/loan_approval_dataset.csv')
#Exclude first column (id) from X and reorder the columns
dataset = dataset[['Gender','Married','Education','Self_Employed','Property_Area','Dependents','Credit_History',
                  'ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Loan_Status']]
dataset.iloc[:5,:]

,Gender,Married,Education,Self_Employed,Property_Area,Dependents,Credit_History,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status
0,Male,No,Graduate,No,Urban,0,1.0,5849,0.0,NaN,360.0,Y
1,Male,Yes,Graduate,No,Rural,1,1.0,4583,1508.0,128.0,360.0,N
2,Male,Yes,Graduate,Yes,Urban,0,1.0,3000,0.0,66.0,360.0,Y
3,Male,Yes,Not Graduate,No,Urban,0,1.0,2583,2358.0,120.0,360.0,Y
4,Male,No,Graduate,No,Urban,0,1.0,6000,0.0,141.0,360.0,Y

In [34]:

X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1:].values

# Column 5 (Dependents) - 3+ => 3
for i in range(X.shape[0]):
  if(X[i,5] == '3+'):
    X[i,5] = 3

# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X[:, 5:])
X[:, 5:] = imputer.transform(X[:, 5:])

In [35]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10
0,Male,No,Graduate,No,Urban,0,1,5849,0,146.412,360
1,Male,Yes,Graduate,No,Rural,1,1,4583,1508,128,360
2,Male,Yes,Graduate,Yes,Urban,0,1,3000,0,66,360
3,Male,Yes,Not Graduate,No,Urban,0,1,2583,2358,120,360
4,Male,No,Graduate,No,Urban,0,1,6000,0,141,360
5,Male,Yes,Graduate,Yes,Urban,2,1,5417,4196,267,360
6,Male,Yes,Not Graduate,No,Urban,0,1,2333,1516,95,360
7,Male,Yes,Graduate,No,Semiurban,3,0,3036,2504,158,360
8,Male,Yes,Graduate,No,Urban,2,1,4006,1526,168,360
9,Male,Yes,Graduate,No,Semiurban,1,1,12841,10968,349,360
10,Male,Yes,Graduate,No,Urban,2,1,3200,700,70,360
11,Male,Yes,Graduate,NaN,Urban,2,1,2500,1840,109,360
12,Male,Yes,Graduate,No,Urban,2,1,3073,8106,200,360
13,Male,No,Graduate,No,Rural,0,1,1853,2840,114,360
14,Male,Yes,Graduate,No,Urban,2,1,1299,1086,17,120
15,Male,No,Graduate,No,Urban,0,1,4950,0,125,360
16,Male,No,Not Graduate,No,Urban,1,0.842199,3596,0,100,240
17,Female,No,Graduate,No,Urban,0,0,3510,0,76,360
18,Male,Yes,Not Graduate,No,Rural,0,1,4887,0,133,360
19,Male,Yes,Graduate,NaN,Urban,0,1,2600,3500,115,342
20,Male,Yes,Not Graduate,No,Urban,0,0,7660,0,104,360
21,Male,Yes,Graduate,No,Urban,1,1,5955,5625,315,360
22,Male,Yes,Not Graduate,No,Semiurban,0,0,2600,1911,116,360
23,NaN,Yes,Not Graduate,No,Rural,2,0,3365,1917,112,360
24,Male,Yes,Graduate,NaN,Semiurban,1,0.842199,3717,2925,151,360
25,Male,Yes,Graduate,Yes,Semiurban,0,1,9560,0,191,360
26,Male,Yes,Graduate,No,Semiurban,0,1,2799,2253,122,360
27,Male,Yes,Not Graduate,No,Urban,2,1,4226,1040,110,360
28,Male,No,Not Graduate,No,Urban,0,1,1442,0,35,360
29,Female,No,Graduate,NaN,Semiurban,2,1,3750,2083,120,360
...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,Graduate,No,Rural,1,0,2787,1917,146,360
585,Male,Yes,Graduate,No,Rural,1,1,4283,3000,172,84
586,Male,Yes,Graduate,No,Urban,0,1,2297,1522,104,360
587,Female,No,Not Graduate,No,Semiurban,0,1,2165,0,70,360
588,NaN,No,Graduate,No,Semiurban,0,1,4750,0,94,360
589,Male,Yes,Graduate,Yes,Semiurban,2,0,2726,0,106,360
590,Male,Yes,Graduate,No,Semiurban,0,1,3000,3416,56,180
591,Male,Yes,Graduate,Yes,Semiurban,2,1,6000,0,205,240
592,NaN,No,Graduate,Yes,Semiurban,3,1,9357,0,292,360
593,Male,Yes,Graduate,No,Rural,0,1,3859,3300,142,180
594,Male,Yes,Graduate,Yes,Urban,0,1,16120,0,260,360
595,Male,No,Not Graduate,No,Rural,0,1,3833,0,110,360
596,Male,Yes,Not Graduate,Yes,Rural,2,1,6383,1000,187,360
597,Male,No,Graduate,No,Semiurban,0.762938,0,2987,0,88,360
598,Male,Yes,Graduate,Yes,Rural,0,1,9963,0,180,360
599,Male,Yes,Graduate,No,Urban,2,1,5780,0,192,360
600,Female,No,Graduate,NaN,Urban,3,0.842199,416,41667,350,180
601,Male,Yes,Not Graduate,NaN,Rural,0,1,2894,2792,155,360
602,Male,Yes,Graduate,No,Urban,3,1,5703,0,128,360
603,Male,No,Graduate,No,Rural,0,1,3676,4301,172,360
604,Female,Yes,Graduate,No,Semiurban,1,1,12000,0,496,360
605,Male,Yes,Not Graduate,No,Urban,0,1,2400,3800,146.412,180
606,Male,Yes,Graduate,No,Semiurban,1,1,3400,2500,173,360
607,Male,Yes,Not Graduate,No,Rural,2,1,3987,1411,157,360
608,Male,Yes,Graduate,No,Rural,0,1,3232,1950,108,360
609,Female,No,Graduate,No,Rural,0,1,2900,0,71,360
610,Male,Yes,Graduate,No,Rural,3,1,4106,0,40,180
611,Male,Yes,Graduate,No,Urban,1,1,8072,240,253,360
612,Male,Yes,Graduate,No,Urban,2,1,7583,0,187,360
613,Female,No,Graduate,Yes,Semiurban,0,0,4583,0,133,360